/* MedAnswers - Barista Ventures */

/*
  * Variables
  * General
  * Helpers
  * Misc
  * Header
  * Hero
  * Sections
  * Meet the Team
  * Footer
  * Modal Bootstrap
*/

/*
  * Variables
  Colors
    Green: #00DD78;
    Gray : #95a5a6;
    Gray2: #F4F6F9;
    BlueDark: #020251;
  Fonts
    font-family: 'Open Sans', sans-serif; - 300, 400, 600, 700

  Media Queries
    @media (max-width: 480px) {}
    @media (min-width: 480px) {}
    @media (min-width: 600px) {}
    @media (min-width: 1200px) {}
*/

/*
  * General
*/

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
html, body {min-height: 100%;}
body {
  font-family: 'Open Sans', sans-serif;
}

/*
  * Helpers
*/
.none {
  display: none;
}
.pattern {
  position: relative;
}
.pattern--top-left:before {
  background-image: url(../images/design/misc/pattern.svg);
  background-position: 150px -232px;
  content: "";
  display: block;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}
@media (min-width: 600px) {
  .pattern--top-left:before {
    height: 250px;
    width: 250px;
    background-position: 250px -232px;
  }
}
.section.pattern--bottom-right {
  padding-bottom: 100px;
}
.pattern--bottom-right:after {
  background-image: url(../images/design/misc/pattern.svg);
  background-position: -150px 515px;
  bottom: 0;
  content: "";
  display: block;
  height: 150px;
  position: absolute;
  right: 0;
  width: 150px;
}
@media (min-width: 600px) {
  .pattern--bottom-right:after {
    background-position: 0 500px;
    height: 250px;
    width: 250px;
  }
}
.comming-soon {
  color: #00D775;
  font-size: 10px;
  vertical-align: text-top;
}
.soft--bottom {
  padding-bottom: 200px;
}

/*
  * Misc
*/
.button {
  background-color: #ffffff;
  border-radius: 3px;
  border: 2px solid #95a5a6;
  color: #95a5a6;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  padding: 5px 12px;
}
.button--primary {
  border-color: #00DD78;
  color: #00DD78;
  font-weight: 400;
  padding: 7px 20px;
}
.button--primary:hover {
  color: #00DD78;
  box-shadow: 0 0 2px 0 #00DD78;
  text-decoration: none;
}
.button--big {
  font-size: 30px;
  border-width: 3px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.button--hero {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

/*
  * Header
*/
header {
  box-shadow: 0 0 5px 0 #00DD78; /*Is a Guide*/
  padding: 15px 0;
}


/*
  * Hero
*/
.hero {
  background-color: #3498db; /*Temporal*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 72px);
}
.hero__title {
  color: #ffffff;
  font-weight: 400;
  line-height: 1.2em;
  font-size: 24px;
  margin-top: 25%;
  margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
  .hero__title {
    font-weight: 600;
    font-size: 42px;
    max-width: 70%;
    margin-top: 10%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 700;
    font-size: 52px;
    max-width: 50%;
  }
}


/*
  * Sections
*/
.section {
  padding-top: 60px;
  padding-bottom: 50px;
}
.section--bg-1 {
  background-color: #F4F6F9;
}
.section--bg-2 {
  background-color: #ffffff;
}
.section__title {
  color: #020251;
  display: block;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .section__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 80px;
  }
}

/*
  * Meet the Team
*/
.member {
  height: 300px;
  margin: 0 auto 20px;
  max-width: 300px;
}
@media (max-width: 768px) {
  .member {
    text-align: center;
  }
}
.member__image {
  background-color: #D8D8D8;
  border-radius: 8px;
  display: block;
  height: inherit;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
@media (min-width: 600px) {
.member__image {
    height: 320px;
  }
}
.member__image img {
  display: block;
  border-radius: 8px;
  width: 100%;
}
.member__name {
  font-size: 20px;
  color: #020251;
  font-weight: 600;
}
@media (min-width: 768px) {
  .member__name {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .member__name {
    font-size: 30px;
  }
}
.member__job {
  font-weight: 600;
  color: #828282;
  text-transform: uppercase;
}
.member__view-profile {
  background-color: rgba(29, 204, 233, 0.8);
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  height: 50px;
  left: 0;
  padding: 30px;
  position: absolute;
  text-align: center;
  bottom: 0;
  transition: opacity 0.5s;
  width: 100%;
}
@media (min-width: 600px) {
  .member__view-profile {
    height: 100%;
    opacity: 0;
    top: 0;
    margin-top: 0;
    font-size: 30px;
  }
}
.member:hover .member__view-profile {
  opacity: 1;
}
.member__view-profile button {
  background-color: transparent;
  border-radius: 5px;
  border: 4px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  left: calc(50% - 100px);
  position: absolute;
  text-align: center;
  top: calc(50% - 30px);
  margin-top: 7px;
  width: 200px;
}
@media (min-width: 600px) {
  .member__view-profile button {
    transition: opacity 0.5s;
    opacity: 0.75;
  }
}
.member__view-profile button:hover {
  opacity: 1;
}

/*
  * Footer
*/

footer {
  background-color: #020251;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 120px;
}
footer a {
  color: #ffffff;
}
.footer__menu-title {
  font-size: 20px;
  font-weight: 600;
}
.footer__menu {}
.footer__menu ul {
  list-style-type: none;
  padding: 0;
}
.footer__menu li {
  font-size: 16px;
  font-weight: 300;
}
.footer__menu li a {}
.footer__menu li a:hover,
.footer__menu li a:focus {
  color: #ffffff;
  opacity: 0.80;
  text-decoration: none;
}
.footer__menu li a:active {
  text-decoration: underline;
  color: #ffffff;
}

/*
  * Modal Bootstrap
*/

.modal.fade.in {
  background-color: rgba(29, 204, 233, 0.9);
}
.modal.in .modal-dialog {
  border: none;
  z-index: 100;
}
.modal-content {
  box-shadow: none;
  border: none;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .modal-content.modal-custom {
    padding: 40px;
  }
}

.view-profile .member__image {
  margin: 0 auto 20px;
  max-width: 300px;
  max-height: 300px;
}
.view-profile {
  color: #828282;
}
.view-profile .member__job {
  margin-bottom: 10px;
}
.view-profile .member-profile__description {
  background-color: white;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.close-custom {
  background-image: url('../images/design/misc/close-modal.svg');
  background-size: contain;
  background-color: transparent;
  border: none;
  color: transparent;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 50px;
}

@media (max-width: 768px) {
 .close-custom {
    border-radius: 100%;
    border: 1px solid rgba(27,127,204,.8);
    color: #167ac6;
    font-size: 20px;
    z-index: 110;
  }
}